.lang-switcher {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
  }
  
  .lang-switcher button {
    background: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .lang-switcher button:hover {
    background: white;
    color: #000;
  }
  